
:root {
    --yellowcolor: #fcae19;
    --whitecolor: #fae9cf;
    --lightgreycolor: #494949;
    --greycolor: #181818;
    --darkgreycolor: #111111;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* Navigation bar */
.navbar1 {
    top: 0;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    border: 0.5px solid var(--greycolor);
    background: var(--darkgreycolor);
}
.nav12 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.nav12 > a{
    color: var(--whitecolor);
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    transition: 0.4s;
}
.nav12 > a:hover {
    color: var(--yellowcolor);
}
 
.nav13 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.searchicon1, .basketicon1 {
    color: var(--whitecolor);
    font-size: 20px;
    transition: 0.4s;
}
.searchicon1:hover, .basketicon1:hover {
    color: var(--yellowcolor);
}
.loginbutton1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginbutton1 button{
    padding: 5% 30% 5% 30%;
    border: 1px solid var(--yellowcolor);
    font-weight: bolder;
    color: var(--whitecolor);
    background: var(--darkgreycolor);
    transition: 0.4s;
}
.loginbutton1 button:hover {
    cursor: pointer;
    color: var(--yellowcolor);
}


/*----------------------- CONTAINER 1 ---------------------------*/
.vid1 {
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    position: absolute;
    left: 0;
}
.container1 {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
.container1 > div {
    position: relative;
    margin-left: 10%;
    color: var(--whitecolor);
    line-height: 100px;
}
.viewkitsbutton1 button {
    border: none;
    padding: 15px 50px 15px 50px;
    color: var(--greycolor);
    background-color: var(--yellowcolor);
    font-weight: 700;
    transition: .2s;
}
.viewkitsbutton1 button:hover {
    cursor: pointer;
    color: var(--whitecolor);
}




/*----------------------- CONTAINER 2 ---------------------------*/
.container2 {
    border: 1px solid red;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*----------------------- CONTAINER 3 ---------------------------*/
.container3 {
    height: 150vh;
}

.con3parallax {
    background-image: url("../images/container3image.jpg");
    min-height: 60vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--whitecolor);
}

.con3part2 {
    display: flex;
    padding-top: 15%;

    background: var(--darkgreycolor);
}

.con3left {
    padding: 150px;
}

.con3left > h1 {
    color: var(--whitecolor);
    text-transform: uppercase;
}

.con3left > p {
    margin-top: 20px;
    line-height: 25px;

    color: var(--lightgreycolor);
    font-weight: bold;
}


/*----------------------- CONTAINER 4 ---------------------------*/
.container4 {
    display: flex;
    padding-top: 15%;
    height: 100vh;

    background: var(--darkgreycolor);
}

.con4left {
    padding-left: 150px;
}

.con4right {
    padding: 150px 150px 0px 0px;
}
.con4right > h1 {
    color: var(--whitecolor);
    text-transform: uppercase;
}

.con4right > p {
    margin-top: 20px;
    line-height: 25px;

    color: var(--lightgreycolor);
    font-weight: bold;
}